---
no_sitemap: true
---
#cinema
  .container
    .row
      .col-xs-12
        %h2.title Thank you for purchasing an Owl-Star product

#main
  .section.download
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Download for {{ order.name }}

          %p.introText
            Order {{ order.number }}

      .row
        .col-xs-12
          .agbbox
            %strong License agreement
            %br
            The software license permits you the right to install your copy of the software on a single computer system. It does not however, permit you the right to install your copy on multiple computers.
            %br
            %br
            %strong Disclaimer
            %br
            The software is provided 'as-is' without warranty of any kind. We Just Do Stuff, Kim & Pollack GbR (from here on called 'developer') are not liable for any damages arising out of any defects in the materials. In no event shall the developer be liable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses arising out of the use of or inability to use the software, with the exception of willful intent and gross negligence as well as personal injuries and death.
            %br
            %br
            %strong Refund policy
            %br
            No refund will be offered for products once sold as the software is a digital file. However, files can be replaced if damaged or lost. Simply send us an email with your transaction ID.
            %br
            %br
            %strong Reserved rights
            %br
            We reserve rights to change the price of the software without prior notice and at our sole discretion. We reserve the rights to make changes to these 'terms and conditions' without any prior notice at our sole discretion.
            %br
            %br
            %strong Governing Law
            %br
            The place of performance and the venue for the settlement of any disputes concerning this agreement shall be Munich, Germany - as far as legally permissible.
            %br
            %br

      .row
        .col-xs-12
          .info
            .accept
              <strong>By downloading the software below, I acknowledge that I have read and agreed to the terms above.</strong>
            {% for product in order.products %}
            {% for file in product.files %}

            %a.button{title: "Download", href: "{{ file.link }}"} Download

            .downloadinfo
              {{ product.name }} {% if file.filesize %} / ({{ file.filesize}}) {% endif %}

            .downloadproblem
              <strong>Trouble downloading?</strong> Right click the link above and 'Save File As...' or 'Save Target As...' or try a different browser like Firefox, Chrome, or Safari.

            {% if product.name == 'Spriteowl - Photoshop extension' %}
            .downloadlinks
              <strong>How to install Spriteowl? Check out the #{link_to 'installation guide', 'http://spriteowl.owl-stars.com/installation-faq.html'}</strong>.
            {% endif %}

            {% endfor %}
            {% endfor %}