---
title: Home
---

#cinema
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %p.subtitle Improve your workflow
        %h2.title Owl-Stars Products help you to save time and work faster!

#main
  .section.products
    .container
      .row
        .col-xs-12.col-sm-6
          .product.spriteowl
            .head
              .logo
                %h2 Spriteowl
                %h3.hidden-xs.hidden-sm Photoshop Extension
            .price
              Just $
              %span.bigPrice> 15
            .info
              Spriteowl is a Photoshop Extension which saves you a lot of time when working with Sprite Images and Css.
            .features
              %ul
                %li.check For Photoshop CS6 and CC
                %li.check Css, Less, Sass/Scss & Stylus support
                %li.check Easy to use
            .btnarea
              %a.btn{title: "Spriteowl", href: "http://spriteowl.owl-stars.com"} Show me more

        .col-xs-12.col-sm-6
          .product.cssowl
            .head
              .logo
                %h2 Cssowl
                %h3.hidden-xs.hidden-sm Mixin Library
            .price
              %span.bigPrice Free
            .info
              Cssowl is been created to work with Photoshop Extensions like Spriteowl to help you for faster and easier web development.
            .features
              %ul
                %li.check Less, Sass/Scss & Stylus support
                %li.check Open source
                %li.check Easy to use
            .btnarea
              %a.btn{title: "Cssowl", href: "http://cssowl.owl-stars.com"} Show me more


  .section.about.bgdark
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle About Owl-Stars

      .row
        .col-sm-7
          %p
            With your <strong>Owl-Stars products series</strong> we want to <strong>improve the workflow</strong> between Designers and Developers to become a <strong>faster and easier project development</strong>.</strong>
            %br
            %br
            Currently we are working on more cool stuff, so <strong>stay connected and subscribe to your newsletter</strong>!
            %br
            %br
            If you have a question or you are interested in more details about us and the Owl-Stars Product Series so drop us a line to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'} or visit our Company site #{link_to 'www.wejustdostuff.com', 'html://www.wejustdostuff.com', :target => '_blank'}.

        .col-sm-5
          .teaserImg
            %img{src: "assets/img/content/tree-owl.png"}

