#cinema.home
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %p.subtitle Improve your workflow:
        %h2.title Save time and work faster with your Owl-Stars products!

#main
  .section.products
    .container
      .row
        .col-xs-12.col-sm-6
          .product.spriteowl
            .head
              .logo
                %h2 Spriteowl
                %h3.hidden-xs.hidden-sm Photoshop extension
            .price
              Only $
              %span.bigPrice> 15
            .info
              Spriteowl is a Photoshop extension that takes over the boring part when working with sprite images and CSS.
            .features
              %ul
                %li.check Retrieves x, y, width and height info of all sprite elements for you.
                %li.check Supports preprocessors LESS, Sass/SCSS & Stylus
                %li.check Works for Photoshop CS6 & CC on Mac & Windows systems
            .btnarea
              %a.btn{title: "Spriteowl", href: "http://spriteowl.owl-stars.com"} Find out more

        .col-xs-12.col-sm-6
          .product.cssowl
            .head
              .logo
                %h2 Cssowl
                %h3.hidden-xs.hidden-sm Mixin library
            .price
              %span.bigPrice Free
            .info
              Cssowl is a mixin library that work with the Photoshop extension Spriteowl to help you developing easier and faster.
            .features
              %ul
                %li.check LESS, Sass/SCSS & Stylus support
                %li.check Open source
                %li.check Easy to use
            .btnarea
              %a.btn{title: "Cssowl", href: "http://cssowl.owl-stars.com"} Find out more


  .section.about.bgdark
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle About Owl-Stars

      .row
        .col-sm-7
          %p
            With our <strong>Owl-Stars products series</strong> we improve the workflow between designers and developers or make live easier for people who do both.
            %br
            %br
            We are currently working on more cool stuff, so <strong>stay tuned and subscribe to our newsletter</strong>!
            %br
            %br
            If you have any questions, feedback or are interested in more details about us and our Owl-Stars product series, drop us a line at #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'} or visit our company site #{link_to 'www.wejustdostuff.com', 'html://www.wejustdostuff.com', :target => '_blank'}.

        .col-sm-5
          .teaserImg
            %img{src: "assets/img/content/tree-owl.png"}

