---
title: Home
---

%header
  = partial "partial/head"

  #cinema
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          %p.subtitle Improve your workflow
          %h2.title Owl-Stars Tools help you save time and work faster!

#main
  .section.products
    .container
      .row
        .col-sm-6
          .col-sm-9.col-sm-offset-1.product.spriteowl
            .head
            .badge
              .badgeinner
                Spriteowl
            .info
              Photoshop Extension
            .price
              Just $
              %span.bigPrice> 15
            .features
              %p.check Css, Less, Sass/Scss & Stylus
              %p.check Easy to use
              %p.check Photoshop CS6 and CC
            .btnarea
              %a.btn{title: "Spriteowl", href: "http://spriteowl.owl-stars.com"} Show me more

        .col-sm-6
          .col-sm-9.col-sm-offset-1.product.cssowl
            .head
            .badge
              .badgeinner
                Cssowl
            .info
              Open Source Mixin Library
            .price
              %span.bigPrice Free
            .features
              %p.check Less, Sass/Scss & Stylus
              %p.check Open Source
              %p &nbsp;
            .btnarea
              %a.btn{title: "Cssowl", href: "http://cssowl.owl-stars.com"} Show me more


  .section.social.bgdark
    .container
      .row
        .col-sm-12

          .box.content
            Spread the word:

          .box.twitter
            %a{href: "https://twitter.com/share", class: "twitter-share-button", data: {:count => "horizontal", :text => "Owl-Stars", :via => "Owl_Stars", :url => "http://www.owl-stars.com/"}} Tweet

          %img.owl{src: "assets/img/content/owls/like-me-owl.png"}


