---
no_sitemap: true
---
#cinema
  .container
    .row
      .col-xs-12
        %h2.title Thank you for purchasing an Owl-Star product

#main
  .section.download
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Please check your e-mails!

          %p.introText
            <strong>Shortly after your purchase you will receive an email with a download link!</strong>
            %br
              Got a problem? Please send us an email to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'}.


          .info
            %a.button{title: "Owl-Stars Homepage", href: "http://www.owl-stars.com"} Owl-Stars Homepage

